<?xml version="1.0"?>

<ruleset name="Pronamic Events">
	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.6-" />

	<file>.</file>

	<arg name="colors"/>
	<arg name="extensions" value="php" />
	<arg value="sp" />

	<exclude-pattern>assets/*</exclude-pattern>
	<exclude-pattern>languages/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>

	<rule ref="PHPCompatibilityWP" />

	<rule ref="WordPress">
		<exclude name="Squiz.Commenting" />

		<exclude name="WordPress.Files.FileName" />

		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching" />
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query" />
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_key" />

        <exclude name="WordPress.Security.SafeRedirect.wp_redirect_wp_redirect" />

		<exclude name="WordPress.WP.GlobalVariablesOverride.OverrideProhibited" />
	</rule>
</ruleset>
